<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Accesorios-Nosotros</title>
    <meta name="description" content="Te contamos todo sobre nosotros. Quienes somos, como iniciamos, como nos formamos y como surjio toda esta idea de cero. ¡Pasate a conocernos">
    <meta name="keyboard" content="nosotros, redes, informacion importante, descripcion">
    <link rel="stylesheet" href="../css/index.css"> 
    <link rel="stylesheet" href="../sass/index.css">
    <script src="https://kit.fontawesome.com/e8ae0d13c5.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Menu de navegacion.-->
    <header>
        <div class="container">
            <nav class="nav_checkbox">
                <a href="../../index.html" class="logo"><img src="../image/om-logo.png" alt="Logo de Om Accesorios"></a>
                <input type="checkbox" id="tab-nav" class="tab-nav">
                <label for="tab-nav" class="label">
                    <div class="burger"></div>
                    <div class="burger"></div>
                    <div class="burger"></div>
                </label>
                <ul class="content_nav">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Seccion donde explica quienes son, donde encontrarlos, etc-->
    <section>
        <article class="nosotros-texto">
            <h2>Sobre Nosotros</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia pariatur adipisci laboriosam natus, maiores delectus. Cupiditate dolorem repellat, fugiat reprehenderit maiores saepe repellendus aperiam sequi recusandae nostrum totam cumque at.
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas placeat sed fuga optio praesentium nihil earum tempora molestias suscipit ipsa doloribus dolore animi nesciunt, cumque voluptates autem amet, porro itaque!   
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia pariatur adipisci laboriosam natus, maiores delectus. Cupiditate dolorem repellat, fugiat reprehenderit maiores saepe repellendus aperiam sequi recusandae nostrum totam cumque at.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas placeat sed fuga optio praesentium nihil earum tempora molestias suscipit ipsa doloribus dolore animi nesciunt, cumque voluptates autem amet, porro itaque!   

            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia pariatur adipisci laboriosam natus, maiores delectus. Cupiditate dolorem repellat, fugiat reprehenderit maiores saepe repellendus aperiam sequi recusandae nostrum totam cumque at.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas placeat sed fuga optio praesentium nihil earum tempora molestias suscipit ipsa doloribus dolore animi nesciunt, cumque voluptates autem amet, porro itaque!   
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia pariatur adipisci laboriosam natus, maiores delectus. Cupiditate dolorem repellat, fugiat reprehenderit maiores saepe repellendus aperiam sequi recusandae nostrum totam cumque at.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas placeat sed fuga optio praesentium nihil earum tempora molestias suscipit ipsa doloribus dolore animi nesciunt, cumque voluptates autem amet, porro itaque!   
            </p>

        </article>
    </section>


    <!-- Aquie comienza el footer con algunas redes e informacion que deberia tener la pagina-->


    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="caja">
                <figure>
                    <a href="../../index.html">
                        <img src="../image/om-logo.png" alt="LOGO De om Accesorios">
                    </a>
                </figure>
            </div>
            <div class="cajaSobreNosotros">
                <h2>Sobre Nosotros</h2>

                <li><a href="../../index.html">Home</a></li>
                    <li><a href="./envios-entregas.html">Envios y Entregas</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, laborum?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, laborum?</p>
            </div>
            <div class="caja">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>

                </div>

            </div>
        </div>

        <div class="grupo2">
            <small> &copy; <b>Om Accesorios</b> -Todos los Derechos Reservados</small>
        </div>

    </footer>


    
</body>
</html>